.status-row h6 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 2px;
}

#status-update {
  font-size: 0.6875rem;
  font-weight: 400;
  border-color: #4e9e32;
  background-color: #4e9e32;
  height: 1.5625rem;
  width: 5.3125rem;
  margin-top: 0;
}

.circular-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
  background-color: red;
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 20px;
}

.circular-number span {
  font-size: 0.875rem;
  margin-left: 0;
}

.status-row {
  margin-bottom: 15px;
}

#circular-number-disabled {
  color: black;
  border: 1px solid black;
  background-color: white;
}
