body.active-modal {
  overflow-y: hidden;
}

#modal-close {
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 1.25rem;
  height: 1.25rem;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

#modal-icon {
  width: 4.6875rem;
  margin-bottom: 20px;
}

#modal-close img {
  width: 1.25rem;
  height: 1.25rem;
}

#modal-btn {
  width: 9.375rem;
  margin: auto;
}

.modal-new,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.modal-contents h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-contents p {
  font-size: 0.875rem;
  margin-bottom: 20px;
  z-index: 2;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 10px;
  width: 29.6875rem;
  height: 18.75rem;
  z-index: 2;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  z-index: 2;
}

#modal-field{
  width: 350px;
  height: 150px;
  text-align: start;
  margin-bottom: 15px;
  border-radius: 5px;
  z-index: 2;
}

.my-input::placeholder {
  font-size: 16px;
  color: #A9A9A9;
  position: absolute;
  top: 20px;
  left: 10px;
}

.my-input{
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-bottom: 10;
  font-size: 16px;
}
.modal{
  z-index: 2;
}
